# Vespa configuration file for applications. 
# The [Application] and [Execution] sections are mandatory when running experiments. 
# The [Consolidate] section is only validated and read when using vespa-consolidate.

[Application]
# Dir for executable
app.home=/home/giacomo2/shared/PARPACBench-1.4

# Name for executable
app.executable=PARPACBench

# Default application arguments (overridden by experiment definition)
app.args=

[Execution]
# Execute with an execution manager: { Torque | <empty> }
exec.manager=Torque

# Timeout (assume failure)
exec.walltime=60:00

# if need for other output, use (space-separated) filename(s), leave blank otherwise
exec.otheroutput=/home/giacomo2/shared/PARPACBench-1.4/results/parpacbench_${np}cpu_32lbu.out

# if need for a single other output file, rename to this name, leave blank otherwise
exec.outputrename=custom.out

[Consolidate]
# Directory from which experiments are read when consolidating
# By default this parameter is used. This can be overridden when calling 
# vespa-consolidate program. See example below.
consolidate.default=/home/giacomo2/experiments/arriving/parpac

# Other consolidation inputs. In this example, the keyword used is "physical".
consolidate.physical=/home/giacomo2/experiments/arriving/parpac-physical