	<scenario>
		<experiment name="{{ expName }}" trials="1">
			<cluster virtual="False">
				<topology nc="{{ nc }}" cpv="{{ cpv }}" />
			</cluster>
			<app name="{{ appName }}" runs="{{ appRuns }}">
				<tuning>
					<procpin>{{ mpiBind }}</procpin>
				</tuning>
			</app>
		</experiment>
	</scenario>
