	<scenario>
		<experiment name="{{ expName }}" trials="1">
			<cluster>
				<topology nc="{{ nc }}" cpv="{{ cpv }}" />
				<mapping idf="{{ idf }}" pstrat="{{ pstrat }}" />
			</cluster>
			<app name="{{ appName }}" runs="{{ appRuns }}">
				<args>{{ appArgs }}</args>
				<tuning>
					<procpin>{{ procPin }}</procpin>
				</tuning>
			</app>
		</experiment>
	</scenario>
