	<experiment name="@expName" trials="1">
		<clusters>
			<cluster virtual="False">
				<app name="@appName" runs="@appRuns">
					<tuning>
						<procpin>@mpiBind</procpin>
					</tuning>
				</app>
				<topology nc="@nc" cpv="@cpv" />
			</cluster>
		</clusters>
	</experiment>
